{% load admin_static material_admin i18n %}{% load firstof from future %}<!DOCTYPE html>
{% get_current_language as LANGUAGE_CODE %}
<html lang="{{ LANGUAGE_CODE|default:"en-us" }}">
    <head>
        <title>{% block title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        {% block favicon %}<link href="{% static 'material/imgs/favicon.png' %}" rel="shortcut icon">{% endblock %}
      
        {% include 'admin/includes/material_css.html' %}
        {% block extrastyle %}{% endblock %}

        <script src="{% static 'material/js/jquery-2.2.0.js' %}"></script>
        <script>
            // Use same django for material and django admin
            var django = django || {};
            django.jQuery = jQuery.noConflict(true);
            window.jQuery = window.$ = django.jQuery
        </script>
        <script type="text/javascript">window.__admin_media_prefix__ = "{% filter escapejs %}{% static "admin/" %}{% endfilter %}";</script>
        <script type="text/javascript">window.__admin_utc_offset__ = "{% filter escapejs %}{% now "Z" %}{% endfilter %}";</script>
        {% if user.is_authenticated %}<script type="text/javascript" src="{% url 'admin:jsi18n' %}"></script>{% endif %}
        {{ media.js }}
        {% block extrahead %}{% endblock %}
        {% block blockbots %}<meta name="robots" content="NONE,NOARCHIVE" />{% endblock %}
    </head>

    <body>
        {% if user.is_authenticated %}
        <ul id="user-menu" class="dropdown-content">
            {% block user_menu %}
            <li><a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a></li>
            {% block user_menu_extra %}{% endblock %}
            {% endblock %}
        </ul>
        {% endif %}

        {% if not is_popup %}
        <header>
            <nav id="header" class="nav-top red darken-2">
                <div class="nav-wrapper">
                    <a href="/" class="page-title hide-on-med-and-down">{% block brand-logo %}Defensa Pública Militar{% endblock %}</a>
                    <a href="#" data-activates="nav-mobile" class="button-collapse full"><i class="material-icons">menu</i></a>

                    <ul class="right">
                        {% if user.is_authenticated %}
                        <li><a class="dropdown-button constrain_width" href="#!" data-activates="user-menu">{{ user.get_full_name|default:user.username }}<i class="material-icons right">arrow_drop_down</i></a></li>
                        {% endif %}
                    </ul>
                </div>

                <ul id="nav-mobile" class="side-nav fixed module-menu">
                    <li class="logo valign-wrapper">
                        <a href="{% url 'admin:index' %}" class="no-navigation">
                            {% block branding %}{% endblock %}
                        </a>
                    </li>

                    {% block breadcrumbs_left %}
                    {% block back_link %}<li class="no-padding"><a class="collapsible-header no-pjax" href="/"><i class="material-icons">arrow_back</i>{% trans 'Back to website' %}</a></li>{% endblock %}
                    <li class="no-padding active">
                        <div class="collapsible-body" style="display:block">
                            <ul class="collapsible" data-collapsible="accordion">
                                {% get_app_list request as app_list %}
                                {% for app in app_list %}
                                <li class="header{% if app.active %} active{% endif %}">
                                    <a class="collapsible-header{% if app.active %} active{% endif %}">{{ app.app_icon }} {{ app.name|truncatechars:23 }}</a>
                                    <div class="collapsible-body" {% if app.active %}style="display:block"{% endif %}>
                                        <ul>
                                            {% for model in app.models %}
                                            <li class="{% if model.active %}active{% endif %}">
                                                <a href="{{ model.admin_url }}">{{ model.name }}</a>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                    </li>
                    {% endblock %}
                </ul>
            </nav>
        </header>
        {% endif %}

        <main>
            {% if not is_popup %}
            {% block breadcrumbs %}
            <div class="breadcrumbs">
                <div class="red darken-3 white-text">
                    {% block breadcrumbs_items %}
                    {% endblock %}
                </div>
            </div>
            {% endblock %}
            {% endif %}
            {% block content %}
            {{ content }}
            {% endblock %}
        </main>

        {% include 'admin/includes/material_js.html' %}
        {% block extrajs %}{% endblock %}

        {% block messages %}
        {% if messages %}
        <script type="text/javascript">
            $(document).ready(function() {
                {% for message in messages %}
                Materialize.toast('{{ message|capfirst }}', 10000, 'alert-{{ message.tags }}') 
                {% endfor %}
            });
        </script>
        {% endif %}
        {% endblock messages %}
    </body>
</html>
