{% extends "admin/base_site.html" %}
{% load i18n %}


{% block content %}
<div class="row">
    <div class="col s12 offset-m3 m6">
        <div class="card">
            <div class="card-content">
                <span class="card-title black-text">{{ title }}</span>
                <p><br/>{% trans "Thanks for spending some quality time with the Web site today." %}</p>
            </div>
            <div class="card-action">
                <a href="{% url 'admin:index' %}" class="btn btn-primary white-text pull-right red darken-3">{% trans 'Log in again' %}</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}
